<link rel="manifest" href="manifest.json" />
<link rel="stylesheet" href="/css/baguetteBox.min.css" />
<script src="/js/baguetteBox.min.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function() {
      baguetteBox.run(".gallery", {
        //custom options here
         
      });
    });
</script>
<script data-goatcounter="https://frontfender.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://aeronautics.uottawa.xyz",
      "sameAs": ["https://www.instagram.com/uoaeronautics", "https://aeronautics.uottawa.xyz/mission/","https://aeronautics.uottawa.xyz/the-team/", "https://aeronautics.uottawa.xyz/contact/"],
      "logo": "https://aeronautics.uottawa.xyz/favicon.svg",
      "name": "uOAeronautics",
      "description": "The University of Ottawa Aeronautics Team, a JMTS competition team",
      "email": "aeronautics@uottawa.ca",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "150 Louis-Pasteur Private",
        "addressLocality": "Ottawa",
        "addressCountry": "CA",
        "addressRegion": "Ontario",
        "postalCode": "K1N 9A7"
      },
    }
</script>

