
<div class="gallery" >

<script type="text/javascript">
    window.addEventListener('load', function() {
      baguetteBox.run('.gallery');
    });
</script>

{{ $caption := replaceRE `\.[^.]+$` "" (.Get "caption" )}}

{{ $src := resources.GetMatch (.Get "src") }}
{{ $thumb := $src.Resize "x600 q50 webp" }}
{{ $large := $src.Resize "x1024 q85 webp" }}

    
    <a
      href="{{ $large.Permalink }}"
      data-caption="{{ $caption | html }}"
      class=""
      
    >
      <img
        src="{{ $thumb.Permalink }}"
        alt="{{ $caption | html }}"
        style="border-radius: 5px; width: 100%;"
        
      />
    </a>
    <small><i>{{ $caption | html }}</i></small> 
    



</div>

