<link rel="stylesheet" href="/css/baguetteBox.min.css" />
<script src="/js/baguetteBox.min.js"></script>

<script>
    
</script>

<div class="cards gallery" >

<script type="text/javascript">
    window.addEventListener("load", function() {
      baguetteBox.run(".gallery", {
        //custom options here
         
      });
    });
  </script>

{{/* Grab all image resources on this page */}}
{{ $images := .Page.Resources.ByType "image" }}
{{ with $images }}
  {{ range . }}
    {{/* generate thumbnail and large versions */}}
    {{ $thumb := .Fill "256x256 q25" }}
    {{ $large := .Resize "x1024 q85" }}

    {{/* .Name is the filename+ext; strip the extension for caption */}}
    {{ $caption := replaceRE `\.[^.]+$` "" .Name }}


    
    <a
      href="{{ $large.Permalink }}"
      data-caption="{{ $caption | html }}"
      class=""
      
    >
      <img
        src="{{ $thumb.Permalink }}"
        alt="{{ $caption | html }}"
        style="border-radius: 5px; width: 100%;"
        
      />
    </a>
    
  {{ end }}
{{ end }}


</div>

